<html>
    <head>
        <% include ./partials/head %>
    </head>
    <body>
        <div class="container">
            <header>
                <a href="/"><img src="/images/favicon.png" class="favicon"></a>
                <div>
                    <a href="/user">Profile</a>
                    | <a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Logout</a>
                </div>
            </header>
            <section>
                <div class="container">
                    <div class="box-1">
                        <div class="menu-box">
                            <strong class="span-menu underline-title" onclick="window.location.href='/admin'">Administração</strong>
                            <strong class="span-menu underline-title" onclick="window.location.href='/factory'">Fábrica</strong>
                            <strong class="span-menu underline-title" onclick="window.location.href=''">Loja</strong>
                            <strong class="span-menu underline-title" onclick="window.location.href=''">Recursos humanos</strong>
                            <strong class="span-menu underline-title" onclick="window.location.href='/support'">Suporte</strong>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <footer>
        <% include ./partials/footer %>
    </footer>
</html>