<html>
 <head>
 <% include ./partials/head %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
 </head>
 <body>
  <div class="container">
  <header>
   <a href="/"><img src="/images/favicon.png" class="favicon"></a>
  </header>
  <section>
   <div class="container">
    <div class="box-1">
     <strong>Bem vindo ao chat de suporte.</strong>
     <span id="user-id" hidden><%= user.id %></span>
     <span id="user-name" hidden><%= user.name %></span>
     <span id="user-support" hidden><%= user.support %></span>
     <span id="access-room" hidden><%= room %></span>
    </div>
   </div>
  </section>
  </div>
 </body>
 <footer>
 <% include ./partials/footer %>
  <script src="/javascripts/sockets/support.js"></script>
 </footer>
</html>