<html>
	<head>
        <% include ../partials/head %>
	</head>
	<body>
		<div class="main">
			<header>
				<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			</header>
			<nav>
			</nav>
			<section>
				<div class="container">
					<div class="box-1">
						<form action="/user/signup" method="post">
							<div class="menu-box">
								<h4 class="underline-title">Preencha as informações do colaborador</a></h4>
	                            <% if (message.length > 0) { %>
	                                <div class="alert-msg"><%= message %></div>
	                            <% } %>
	                            <p>Nome Completo</p>
								<input type="text" class="btn-generic-menu-big" name="name" maxlength="45" autocomplete="off">
	                            <p>E-mail</p>
								<input type="text" class="btn-generic-menu-big" name="email" id="email" onblur="validateEmail()" maxlength="45" autocomplete="off">
	                            <p>Nome de usuário</p>
								<input type="text" class="btn-generic-menu-big" name="username" maxlength="45" autocomplete="off">
	                            <p>Nascimento</p>
								<div>
									<select class="btn-generic-date-day" name="day" id="day" autocomplete="off" required></select>
									<select class="btn-generic-date-month" name="month" id="month" autocomplete="off" required></select>
									<select class="btn-generic-date-year" name="year" id="year" autocomplete="off" required></select>
								</div>
	                            <p>Senha</p>
								<input type="password" class="btn-generic-menu-big" name="password" maxlength="45" autocomplete="off">
	                            <p>Confirmar senha</p>
								<input type="password" class="btn-generic-menu-big" name="confirmPassword" maxlength="45" autocomplete="off">
								<button type="submit" class="btn-generic-menu-big">Signup</button>
								<p class="underline-title"></p> 
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>
		<!-- <button onclick="window.location.href='/users'">Usuários</button> -->
	</body>
	<footer>
        <% include ../partials/footer %>
	</footer>
	<script>
		function validateEmail() {
			let field = document.getElementById('email').value;
			userAdress = field.substring(0, field.indexOf("@"));
			domain = field.substring(field.indexOf("@")+ 1, field.length);
			 
			if ((userAdress.length >=1) &&
			    (domain.length >=3) && 
			    (userAdress.search("@")==-1) && 
			    (domain.search("@")==-1) &&
			    (userAdress.search(" ")==-1) && 
			    (domain.search(" ")==-1) &&
			    (domain.search(".")!=-1) &&      
			    (domain.indexOf(".") >=1)&& 
			    (domain.lastIndexOf(".") < domain.length - 1)) {
			} else{
				alert("E-mail inválido");
				document.getElementById('email').value = '';
			}
		}

		function filldate(){
			const Months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']; 

			for(i=1;i<32;i++){
				document.getElementById('day').innerHTML += "<option value="+i+">"+i+"</option>";
			};

			for(month of Months){
				document.getElementById('month').innerHTML += "<option value="+month+">"+month+"</option>";
			};

			for(i=2019;i>1900;i--){
				document.getElementById('year').innerHTML += "<option value="+i+">"+i+"</option>";
			}
		};
		filldate();
	</script>
</html>