<!-- Copyright -->
<div class='copyright'>
    &copy; Lyra corp. All rights reserved. 
</div>
<script src="/javascripts/essentials/jquery-3.4.0.min.js"></script>
<script src="/javascripts/essentials/lib.js"></script>
<script src="/javascripts/scripts/user.js"></script>
<script src="/javascripts/scripts/admin.js"></script>
<script src="/javascripts/scripts/factory/product.js"></script>